{% extends 'layout/base.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
{% endblock %}
{% block content %}
	
	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns is-marginless">
					<div class="column highlight-item " style="background-image: url({{ highlight.url }});"> <!--ใช้ is-size-ต่อได้ แต่ใหญ่ไม่เท่าในhome ในhomeปรับขนาดได้มากกว่า-->
						<h1>{{ highlight.title }}</h1>
					</div>
				</div>
			</div>

			<div class="thumbnail">
				<div class="columns is-mobile is-marginless"> <!--class="coulumns is-gapless" ismarginless=ทำให้ขอบเก่าหาย-->
					{% for item in thumbnail %}
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url({{ item.url }});"> <!-- paddingless=ตัดขอบรูปเล็ก -->
						{{ item.title }}
					</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="section we-preset">
			<div class="container"> <!--เอาไว้ครอบคอนเทน-->
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">Lastet</a> <!--ปุ่ม-->
					</div>
					<div class="column has-text-centered">
						We Present
					</div>
					<div class="column has-text-right">
						<a href="#">Search</a>
					</div>
				</div>
				<div class="columns is-multiline">
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Whattttttttttttttt
								</h3>
								<h4 class="subtitle is-6">
									The
								</h4>
								<p>
									Fuckkkkkkkkkkkkkkkkk
									kkkkkkkkkkkkkkkkkk
									kkkkkkkkkkkkkkkk
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-2.jpg" alt="image-2">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									อยากให้เธอไปคุย
								</h3>
								<h4 class="subtitle is-6">
									เธอไปคุยกับเข้าก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a><a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									อยากให้เธอไปเจอ
								</h3>
								<h4 class="subtitle is-6">
									เธอไปเจอกับเขาก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="image-4">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									เธอจะทำอะไร
								</h3>
								<h4 class="subtitle is-6">
									ก็ไปทำกับเขาก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="image-5">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">เย่</h5>
								<h3 class="title is-spaced is-4">
									จะรอเธอตรงนี้
								</h3>
								<h4 class="subtitle is-6">
									ไม่หนีไปไหนแน่นอน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a><a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="image-6">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">เฮ้วๆ</h5>
								<h3 class="title is-spaced is-4">
									แต่ถ้าหากเธอเหงา
								</h3>
								<h4 class="subtitle is-6">
									เมื่อตอนเธอจะเข้านอน
								</h4>
								<p>
									ค่อยโทรมา
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			
		</section>
	</main>
</body>
</html>
{% endblock %}