<!DOCTYPE html> <!-- จะเขียนhtmlละนะ -->
<html lang="en"> <!-- lang="en" คือ ภาษาหลักของเว็บ = EN -->
<head>
	<meta charset="utf-8"> <!-- ชนิดของภาษาเป็นแบบ utf-8 -->
	<title>CMM 19Pat</title>  <!-- ชื่อหัวเว็บ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header> <!-- logo+nav -->
		<div class="has-text-centered"> <!-- คิดรไม่ออก ใช้ -->
			<img src="/assets/images/SPlogoW.jpg" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs" > <!-- คำสั่งใช้ "nav"igation -->
			<a href="#" class="navbar-item">Work</a> <!-- a = กดได้  # = ไม่ไปไหน-->
			<a href="#" class="navbar-item">Home</a>
			<a href="#" class="navbar-item">Post</a>
			<a href="#" class="navbar-item">Activity</a>
			<a href="#" class="navbar-item">Game</a>
			<a href="#" class="navbar-item">Page</a>
			<a href="#" class="navbar-item">Friend</a>
			<a href="#" class="navbar-item">Register</a>
		</nav>
	</header>

	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item "> <!--ใช้ is-size-ต่อได้ แต่ใหญ่ไม่เท่าในhome ในhomeปรับขนาดได้มากกว่า-->
						<h1>สวนเลย</h1>
					</div>
				</div>
			</div>

			<div class="thumbnail">
				<div class="columns is-mobile is-marginless"> <!--class="coulumns is-gapless" ismarginless=ทำให้ขอบเก่าหาย-->
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);"> <!-- paddingless=ตัดขอบรูปเล็ก -->
						What
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
						The
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
						Fuck
					</div>
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
						Yeah!!
					</div>
				</div>
			</div>
		</section>

		<section class="section we-preset">
			<div class="container"> <!--เอาไว้ครอบคอนเทน-->
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">Lastet</a> <!--ปุ่ม-->
					</div>
					<div class="column has-text-centered">
						We Present
					</div>
					<div class="column has-text-right">
						<a href="#">Search</a>
					</div>
				</div>
				<div class="columns is-multiline">
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Whattttttttttttttt
								</h3>
								<h4 class="subtitle is-6">
									The
								</h4>
								<p>
									Fuckkkkkkkkkkkkkkkkk
									kkkkkkkkkkkkkkkkkk
									kkkkkkkkkkkkkkkk
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-2.jpg" alt="image-2">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									อยากให้เธอไปคุย
								</h3>
								<h4 class="subtitle is-6">
									เธอไปคุยกับเข้าก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a><a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									อยากให้เธอไปเจอ
								</h3>
								<h4 class="subtitle is-6">
									เธอไปเจอกับเขาก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="image-4">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">โย้ว</h5>
								<h3 class="title is-spaced is-4">
									เธอจะทำอะไร
								</h3>
								<h4 class="subtitle is-6">
									ก็ไปทำกับเขาก่อน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="image-5">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">เย่</h5>
								<h3 class="title is-spaced is-4">
									จะรอเธอตรงนี้
								</h3>
								<h4 class="subtitle is-6">
									ไม่หนีไปไหนแน่นอน
								</h4>
								<p>
									OK
								</p>
							</div>
						</div>
					</a><a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="image-6">
								</figure>	
							</div>
							<div class="card-content">
								<h5 class="category">เฮ้วๆ</h5>
								<h3 class="title is-spaced is-4">
									แต่ถ้าหากเธอเหงา
								</h3>
								<h4 class="subtitle is-6">
									เมื่อตอนเธอจะเข้านอน
								</h4>
								<p>
									ค่อยโทรมา
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			
		</section>
	</main>
</body>
</html>