<header> <!-- logo+nav -->
		<div class="has-text-centered">
			<img src="/assets/images/SPlogoW.jpg" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs" > 
			<a href="#" class="navbar-item">Work</a>
			<a href="#" class="navbar-item">Home</a>
			<a href="#" class="navbar-item">Post</a>
			<a href="#" class="navbar-item">Activity</a>
			<a href="#" class="navbar-item">Game</a>
			<a href="#" class="navbar-item">Page</a>
			<a href="#" class="navbar-item">Friend</a>
			<a href="#" class="navbar-item">Register</a>
		</nav>
</header>
